@using Rvnx.CRM.Core.Enumerations
@model Rvnx.CRM.Core.DTOs.Contact.RelationshipDeleteViewModel

@{
    ViewData["Title"] = "Delete Relationship";
}

<h1>Delete Relationship</h1>

<h3>Are you sure you want to delete this relationship?</h3>
<div>
    <h4>Relationship</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Related Entity
        </dt>
        <dd class="col-sm-10">
            @Model.RelatedEntityName
        </dd>
        <dt class="col-sm-2">
            Relationship Type
        </dt>
        <dd class="col-sm-10">
            @Model.RelationshipTypeName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ReturnUrl"/>
        <div class="d-grid gap-2 d-md-flex mt-4">
            <button type="submit" class="crm-btn-danger"><i class="bi bi-trash" aria-hidden="true"></i>Delete</button>
            @if (!string.IsNullOrEmpty(Model.ReturnUrl))
            {
                <a href="@Model.ReturnUrl" class="crm-btn-tertiary"><i class="bi bi-x-lg" aria-hidden="true"></i>Cancel</a>
            }
            else if (Model.EntityType == EntityType.Person)
            {
                <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.EntityId" class="crm-btn-tertiary"><i class="bi bi-x-lg" aria-hidden="true"></i>Cancel</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" class="crm-btn-tertiary"><i class="bi bi-x-lg" aria-hidden="true"></i>Cancel</a>
            }
        </div>
    </form>
</div>
